.header{
  margin: 1rem auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img{
  height: 3rem;
  cursor: pointer;
}

.navItem{
  margin-left: 1rem;
  padding: 0.5rem 1.2rem;
  background-color: rgb(166, 206, 57);
  text-decoration: none;
  border-radius: 0.5rem;
  color: rgb(87, 87, 86);
  font-family: Helvetica, Arial, sans-serif;
}

.navItem:hover{
  background-color: rgb(87, 87, 86);
  color: rgb(166, 206, 57);
}

.navItem:active{
  background-color: rgb(166, 206, 57);
  color: rgb(87, 87, 86);
}